._bg_nnjdr_1:before,
._bg_nnjdr_1:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU2IiBoZWlnaHQ9IjEyNCIgdmlld0JveD0iMCAwIDE1NiAxMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik05OS40OTIzIDEyNEwxMTAuMTE4IDY1LjEzNjJIOTAuNzk4OFY3LjYyOTM5ZS0wNkgxNTZWNjYuMTAxMkwxMzguNjEzIDEyNEg5OS40OTIzWk04LjY5MzQ4IDEyNEwxOS4zMTg5IDY1LjEzNjJIMFY3LjYyOTM5ZS0wNkg2NS4yMDEyVjY2LjEwMTJMNDcuODE0MiAxMjRIOC42OTM0OFoiIGZpbGw9IiNGMUYxRjIiLz4KPC9zdmc+Cg==)
}

._bgV2_nnjdr_6:before,
._bgV2_nnjdr_6:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyNiAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkuNDE3OTYgMEw3LjY0NzA2IDkuOTY4ODdIMTAuODY2OVYyMUgwVjkuODA1NDVMMi44OTc4MyAwSDkuNDE3OTZaTTI0LjU1MTEgMEwyMi43ODAyIDkuOTY4ODdIMjZWMjFIMTUuMTMzMVY5LjgwNTQ1TDE4LjAzMSAwSDI0LjU1MTFaIiBmaWxsPSIjRTJFM0U0Ii8+Cjwvc3ZnPgo=)
}

._bg_fytfn_1:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI3IDEyLjVMMjYuOTk5IDUuMDAxTDE5LjUgNSIgc3Ryb2tlPSIjMEYyMTMzIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTcuOTk2MSAxNC4wMDM5TDI2Ljk5NjEgNS4wMDM5MSIgc3Ryb2tlPSIjMEYyMTMzIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMjMgMThWMjZDMjMgMjYuMjY1MiAyMi44OTQ2IDI2LjUxOTYgMjIuNzA3MSAyNi43MDcxQzIyLjUxOTYgMjYuODk0NiAyMi4yNjUyIDI3IDIyIDI3SDZDNS43MzQ3OCAyNyA1LjQ4MDQzIDI2Ljg5NDYgNS4yOTI4OSAyNi43MDcxQzUuMTA1MzYgMjYuNTE5NiA1IDI2LjI2NTIgNSAyNlYxMEM1IDkuNzM0NzggNS4xMDUzNiA5LjQ4MDQzIDUuMjkyODkgOS4yOTI4OUM1LjQ4MDQzIDkuMTA1MzYgNS43MzQ3OCA5IDYgOUgxNCIgc3Ryb2tlPSIjMEYyMTMzIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K)
}

@layer properties {
    @supports (((-webkit-hyphens: none)) and (not (margin-trim:inline))) or ((-moz-orient:inline) and (not (color:rgb(from red r g b)))) {
        *, :before, :after, ::backdrop {
            --tw-font-weight:initial
        }
    }
}

@layer css_module_base {
    ._newExternalContentStyle_mxwin_2 p {
        margin-block: 1em
    }
    ._newExternalContentStyle_mxwin_2 ol {
        margin-top: 16px;
        padding-left: 40px;
        list-style-type: decimal
    }
    ._newExternalContentStyle_mxwin_2 ol li ol {
        margin-top: 0;
        margin-bottom: 0
    }
    ._newExternalContentStyle_mxwin_2 img:not(.skip-rich-text) {
        border-radius: 8px;
        max-width: 100%
    }
    ._newExternalContentStyle_mxwin_2 picture+*,
    ._newExternalContentStyle_mxwin_2 picture+picture>img {
        margin-top: 24px
    }
    ._newExternalContentStyle_mxwin_2>li,
    ._newExternalContentStyle_mxwin_2 ol,
    ._newExternalContentStyle_mxwin_2 ul {
        margin-bottom: 24px
    }
    ._newExternalContentStyle_mxwin_2 p:not(.skip-rich-text) {
        margin-bottom: 24px
    }
    @media (min-width:1280px) {
        ._newExternalContentStyle_mxwin_2 p:not(.skip-rich-text) {
            margin-bottom: 28px
        }
        ._newExternalContentStyle_mxwin_2>li,
        ._newExternalContentStyle_mxwin_2 ol,
        ._newExternalContentStyle_mxwin_2 ul {
            margin-bottom: 28px
        }
    }
    ._newExternalContentStyle_mxwin_2 p:not(.skip-rich-text):first-child {
        margin-top: 0
    }
    ._newExternalContentStyle_mxwin_2 p:not(.skip-rich-text):last-child {
        margin-bottom: 0
    }
    :is(._newExternalContentStyle_mxwin_2 ol, ._newExternalContentStyle_mxwin_2 ul):first-child {
        margin-top: 0
    }
    :is(._newExternalContentStyle_mxwin_2 ol, ._newExternalContentStyle_mxwin_2 ul):last-child {
        margin-bottom: 0
    }
    ._newExternalContentStyle_mxwin_2 strong {
        font-weight: 700
    }
    ._newExternalContentStyle_mxwin_2 li>a,
    ._newExternalContentStyle_mxwin_2 nav>a,
    ._newExternalContentStyle_mxwin_2 em>a {
        color: #4f4fc8;
        word-wrap: break-word;
        text-decoration: underline
    }
    ._newExternalContentStyle_mxwin_2 p>a:not(.BlogPostButton) {
        color: #4f4fc8;
        word-wrap: break-word;
        text-decoration: underline
    }
    ._newExternalContentStyle_mxwin_2 p>a:not(.BlogPostButton):hover {
        color: #3535aa;
        text-decoration: none
    }
    :is(._newExternalContentStyle_mxwin_2 li>a, ._newExternalContentStyle_mxwin_2 nav>a, ._newExternalContentStyle_mxwin_2 em>a):hover {
        color: #3535aa;
        text-decoration: none
    }
    :is(._newExternalContentStyle_mxwin_2 h2:not(.skip-rich-text), ._newExternalContentStyle_mxwin_2 h3:not(.skip-rich-text), ._newExternalContentStyle_mxwin_2 h4:not(.skip-rich-text), ._newExternalContentStyle_mxwin_2 h5:not(.skip-rich-text), ._newExternalContentStyle_mxwin_2 h6:not(.skip-rich-text)) a {
        --tw-font-weight: var(--font-weight-bold, 700);
        font-weight: var(--font-weight-bold, 700);
        color: var(--color-indigo-500, oklch(58.5% .233 277.117))
    }
    :is(._newExternalContentStyle_mxwin_2 h2:not(.skip-rich-text), ._newExternalContentStyle_mxwin_2 h3:not(.skip-rich-text), ._newExternalContentStyle_mxwin_2 h4:not(.skip-rich-text), ._newExternalContentStyle_mxwin_2 h5:not(.skip-rich-text), ._newExternalContentStyle_mxwin_2 h6:not(.skip-rich-text)) a:hover {
        color: var(--color-indigo-600, oklch(51.1% .262 276.966))
    }
    ._newExternalContentStyle_mxwin_2 a[class*=CtaBlockComponent] {
        background: 0 0;
        margin: 0;
        padding: 40px 0
    }
    ._newExternalContentStyle_mxwin_2 a[class*=CtaBlockComponent] h2,
    ._newExternalContentStyle_mxwin_2 a[class*=CtaBlockComponent] h3,
    ._newExternalContentStyle_mxwin_2 a[class*=CtaBlockComponent] h4,
    ._newExternalContentStyle_mxwin_2 a[class*=CtaBlockComponent] h5,
    ._newExternalContentStyle_mxwin_2 a[class*=CtaBlockComponent] h6 {
        margin-bottom: 24px
    }
    ._newExternalContentStyle_mxwin_2 a[class*=CtaBlockComponent] a[class*=Button] {
        color: #1b1b55;
        background: #5cff85;
        border-radius: 0;
        text-decoration: none
    }
    ._newExternalContentStyle_mxwin_2 nav+h2 {
        margin-top: 58px;
        margin-bottom: 32px
    }
    ._newExternalContentStyle_mxwin_2 p:not(.skip-rich-text)+h2 {
        margin-top: 58px;
        margin-bottom: 32px
    }
    ._newExternalContentStyle_mxwin_2 .rich-text-image+h2 {
        margin-top: 58px;
        margin-bottom: 32px
    }
    ._newExternalContentStyle_mxwin_2 .rte-sub+h2 {
        margin-top: 58px;
        margin-bottom: 32px
    }
    ._newExternalContentStyle_mxwin_2 p:not(.skip-rich-text)+.rteSuperscriptClass {
        margin-top: 58px
    }
    ._newExternalContentStyle_mxwin_2 nav+.rteSuperscriptClass {
        margin-top: 58px
    }
    ._newExternalContentStyle_mxwin_2 .rich-text-image+.rteSuperscriptClass {
        margin-top: 58px
    }
    ._newExternalContentStyle_mxwin_2 .rte-sub+.rteSuperscriptClass {
        margin-top: 58px
    }
    :is(._newExternalContentStyle_mxwin_2 p:not(.skip-rich-text)+h3, ._newExternalContentStyle_mxwin_2 p:not(.skip-rich-text)+h4, ._newExternalContentStyle_mxwin_2 p:not(.skip-rich-text)+h5, ._newExternalContentStyle_mxwin_2 p:not(.skip-rich-text)+h6) {
        margin-top: 32px;
        margin-bottom: 24px
    }
    ._newExternalContentStyle_mxwin_2 h2:not(.skip-rich-text) {
        font-size: 30px;
        line-height: 44px
    }
    @media (min-width:768px) {
        ._newExternalContentStyle_mxwin_2 h2:not(.skip-rich-text) {
            font-size: 34px;
            line-height: 56px
        }
    }
    @media (min-width:1280px) {
        ._newExternalContentStyle_mxwin_2 h2:not(.skip-rich-text) {
            font-size: 40px;
            line-height: 56px
        }
    }
    ._newExternalContentStyle_mxwin_2 h3:not(.skip-rich-text) {
        font-size: 26px;
        line-height: 36px
    }
    @media (min-width:768px) {
        ._newExternalContentStyle_mxwin_2 h3:not(.skip-rich-text) {
            font-size: 30px;
            line-height: 44px
        }
    }
    @media (min-width:1280px) {
        ._newExternalContentStyle_mxwin_2 h3:not(.skip-rich-text) {
            font-size: 33px;
            line-height: 48px
        }
    }
    ._newExternalContentStyle_mxwin_2 h4:not(.skip-rich-text) {
        font-size: 23px;
        line-height: 32px
    }
    @media (min-width:768px) {
        ._newExternalContentStyle_mxwin_2 h4:not(.skip-rich-text) {
            font-size: 26px;
            line-height: 36px
        }
    }
    @media (min-width:1280px) {
        ._newExternalContentStyle_mxwin_2 h4:not(.skip-rich-text) {
            font-size: 30px;
            line-height: 44px
        }
    }
    ._newExternalContentStyle_mxwin_2 h5:not(.skip-rich-text) {
        font-size: 18px;
        line-height: 24px
    }
    @media (min-width:768px) {
        ._newExternalContentStyle_mxwin_2 h5:not(.skip-rich-text) {
            font-size: 23px;
            line-height: 32px
        }
    }
    @media (min-width:1280px) {
        ._newExternalContentStyle_mxwin_2 h5:not(.skip-rich-text) {
            font-size: 26px;
            line-height: 36px
        }
    }
    ._newExternalContentStyle_mxwin_2 h6:not(.skip-rich-text) {
        font-size: 16px;
        line-height: 20px
    }
    @media (min-width:768px) {
        ._newExternalContentStyle_mxwin_2 h6:not(.skip-rich-text) {
            font-size: 18px;
            line-height: 24px
        }
    }
    @media (min-width:1280px) {
        ._newExternalContentStyle_mxwin_2 h6:not(.skip-rich-text) {
            font-size: 19px;
            line-height: 28px
        }
    }
    ._newExternalContentStyle_mxwin_2 iframe {
        max-width: 100%;
        margin-bottom: 20px
    }
    ._newExternalContentStyle_mxwin_2 .rte-youtube-iframe {
        border-radius: 8px;
        margin-top: 56px;
        margin-bottom: 56px;
        overflow: hidden
    }
    ._newExternalContentStyle_mxwin_2 .rte-youtube-iframe iframe {
        margin-bottom: 0
    }
    @media (min-width:1280px) {
        ._newExternalContentStyle_mxwin_2 .rte-youtube-iframe {
            margin-top: 80px;
            margin-bottom: 80px
        }
    }
    :is(._newExternalContentStyle_mxwin_2 .rte-sub-banner, ._newExternalContentStyle_mxwin_2 .rte-sub-image, ._newExternalContentStyle_mxwin_2 .rte-sub-accordion) {
        margin-top: 40px;
        margin-bottom: 40px
    }
    @media (min-width:1280px) {
        :is(._newExternalContentStyle_mxwin_2 .rte-sub-banner, ._newExternalContentStyle_mxwin_2 .rte-sub-image, ._newExternalContentStyle_mxwin_2 .rte-sub-accordion) {
            margin-top: 56px;
            margin-bottom: 56px
        }
    }
    ._newExternalContentStyle_mxwin_2 .rte-sub:last-child {
        margin-bottom: 0
    }
    :is(._newExternalContentStyle_mxwin_2 ul, ._newExternalContentStyle_mxwin_2 ol) li>ol {
        margin-bottom: 0;
        list-style-type: lower-alpha
    }
    :is(._newExternalContentStyle_mxwin_2 ul, ._newExternalContentStyle_mxwin_2 ol) li>ol li>ol {
        list-style-type: lower-roman
    }
    @media (min-width:1280px) {
        ._newExternalContentStyle_mxwin_2 ul,
        ._newExternalContentStyle_mxwin_2 ol {
            margin-bottom: 28px
        }
        ._newExternalContentStyle_mxwin_2>li,
        ._newExternalContentStyle_mxwin_2 ol,
        ._newExternalContentStyle_mxwin_2 ul {
            font-size: 19px;
            line-height: 29px
        }
        ._newExternalContentStyle_mxwin_2 p:not(.skip-rich-text) {
            font-size: 19px;
            line-height: 29px
        }
    }
    @media (max-width:768px) {
        ._newExternalContentStyle_mxwin_2 .rte-mobile-full-width {
            width: 100% !important
        }
    }
    ._externalContentStyle_mxwin_2 p {
        margin-block: 1em
    }
    ._externalContentStyle_mxwin_2 ol {
        list-style-type: decimal
    }
    ._externalContentStyle_mxwin_2 ul {
        list-style-type: disc
    }
    ._externalContentStyle_mxwin_2 ol,
    ._externalContentStyle_mxwin_2 ul {
        margin-top: 16px;
        padding-left: 40px
    }
    :is(._externalContentStyle_mxwin_2 ol, ._externalContentStyle_mxwin_2 ul) li ol {
        margin-top: 0;
        margin-bottom: 0
    }
    ._externalContentStyle_mxwin_2>li,
    ._externalContentStyle_mxwin_2 ol,
    ._externalContentStyle_mxwin_2 ul {
        margin-bottom: 24px
    }
    ._externalContentStyle_mxwin_2 p:not(.skip-rich-text) {
        margin-bottom: 24px
    }
    @media (min-width:1280px) {
        ._externalContentStyle_mxwin_2 p:not(.skip-rich-text) {
            margin-bottom: 28px
        }
        ._externalContentStyle_mxwin_2>li,
        ._externalContentStyle_mxwin_2 ol,
        ._externalContentStyle_mxwin_2 ul {
            margin-bottom: 28px
        }
    }
    ._externalContentStyle_mxwin_2 img:not(.skip-rich-text) {
        border-radius: 8px;
        max-width: 100%
    }
    ._externalContentStyle_mxwin_2 p:not(.skip-rich-text):first-child {
        margin-top: 0
    }
    ._externalContentStyle_mxwin_2 p:not(.skip-rich-text):last-child {
        margin-bottom: 0
    }
    :is(._externalContentStyle_mxwin_2 ol, ._externalContentStyle_mxwin_2 ul):first-child {
        margin-top: 0
    }
    :is(._externalContentStyle_mxwin_2 ol, ._externalContentStyle_mxwin_2 ul):last-child {
        margin-bottom: 0
    }
    ._externalContentStyle_mxwin_2 strong {
        font-weight: 700
    }
    ._externalContentStyle_mxwin_2 li>a,
    ._externalContentStyle_mxwin_2 nav>a,
    ._externalContentStyle_mxwin_2 em>a {
        color: #4f4fc8;
        word-wrap: break-word;
        text-decoration: underline
    }
    ._externalContentStyle_mxwin_2 p>a:not(.BlogPostButton) {
        color: #4f4fc8;
        word-wrap: break-word;
        text-decoration: underline
    }
    ._externalContentStyle_mxwin_2 p>a:not(.BlogPostButton):hover {
        color: #3535aa;
        text-decoration: none
    }
    :is(._externalContentStyle_mxwin_2 li>a, ._externalContentStyle_mxwin_2 nav>a, ._externalContentStyle_mxwin_2 em>a):hover {
        color: #3535aa;
        text-decoration: none
    }
    @media (min-width:1280px) {
        ._externalContentStyle_mxwin_2 ul,
        ._externalContentStyle_mxwin_2 ol {
            margin-bottom: 28px
        }
    }
    :is(._externalContentStyle_mxwin_2 ul, ._externalContentStyle_mxwin_2 ol) li>ol {
        margin-bottom: 0;
        list-style-type: lower-alpha
    }
    :is(._externalContentStyle_mxwin_2 ul, ._externalContentStyle_mxwin_2 ol) li>ol li>ol {
        list-style-type: lower-roman
    }
    @media (min-width:1280px) {
        ._externalContentStyle_mxwin_2>li,
        ._externalContentStyle_mxwin_2 ol,
        ._externalContentStyle_mxwin_2 ul {
            font-size: 19px;
            line-height: 29px
        }
        ._externalContentStyle_mxwin_2 p:not(.skip-rich-text) {
            font-size: 19px;
            line-height: 29px
        }
    }
    :is(._contentWrapperStyle_mxwin_2 h3:not(.skip-rich-text), ._contentWrapperStyle_mxwin_2 h4:not(.skip-rich-text), ._contentWrapperStyle_mxwin_2 h5:not(.skip-rich-text), ._contentWrapperStyle_mxwin_2 h6:not(.skip-rich-text)) a {
        --tw-font-weight: var(--font-weight-bold, 700);
        font-weight: var(--font-weight-bold, 700);
        color: var(--color-indigo-500, oklch(58.5% .233 277.117))
    }
    :is(._contentWrapperStyle_mxwin_2 h3:not(.skip-rich-text), ._contentWrapperStyle_mxwin_2 h4:not(.skip-rich-text), ._contentWrapperStyle_mxwin_2 h5:not(.skip-rich-text), ._contentWrapperStyle_mxwin_2 h6:not(.skip-rich-text)) a:hover {
        color: var(--color-indigo-600, oklch(51.1% .262 276.966))
    }
    ._contentWrapperStyle_mxwin_2 nav+h2 {
        margin-top: 58px;
        margin-bottom: 32px
    }
    ._contentWrapperStyle_mxwin_2 p:not(.skip-rich-text) {
        margin-top: 58px;
        margin-bottom: 32px
    }
    ._contentWrapperStyle_mxwin_2 .rich-text-image+h2 {
        margin-top: 58px;
        margin-bottom: 32px
    }
    ._contentWrapperStyle_mxwin_2 .rte-sub+h2 {
        margin-top: 58px;
        margin-bottom: 32px
    }
    :is(._contentWrapperStyle_mxwin_2 p:not(.skip-rich-text)+h3, ._contentWrapperStyle_mxwin_2 p:not(.skip-rich-text)+h4, ._contentWrapperStyle_mxwin_2 p:not(.skip-rich-text)+h5, ._contentWrapperStyle_mxwin_2 p:not(.skip-rich-text)+h6) {
        margin-top: 32px;
        margin-bottom: 24px
    }
    ._contentWrapperStyle_mxwin_2 h2:not(.skip-rich-text) {
        font-size: 30px;
        line-height: 44px
    }
    @media (min-width:768px) {
        ._contentWrapperStyle_mxwin_2 h2:not(.skip-rich-text) {
            font-size: 34px;
            line-height: 56px
        }
    }
    @media (min-width:1280px) {
        ._contentWrapperStyle_mxwin_2 h2:not(.skip-rich-text) {
            font-size: 40px;
            line-height: 56px
        }
    }
    ._contentWrapperStyle_mxwin_2 h3:not(.skip-rich-text) {
        font-size: 26px;
        line-height: 36px
    }
    @media (min-width:768px) {
        ._contentWrapperStyle_mxwin_2 h3:not(.skip-rich-text) {
            font-size: 30px;
            line-height: 44px
        }
    }
    @media (min-width:1280px) {
        ._contentWrapperStyle_mxwin_2 h3:not(.skip-rich-text) {
            font-size: 33px;
            line-height: 48px
        }
    }
    ._contentWrapperStyle_mxwin_2 h4:not(.skip-rich-text) {
        font-size: 23px;
        line-height: 32px
    }
    @media (min-width:768px) {
        ._contentWrapperStyle_mxwin_2 h4:not(.skip-rich-text) {
            font-size: 26px;
            line-height: 36px
        }
    }
    @media (min-width:1280px) {
        ._contentWrapperStyle_mxwin_2 h4:not(.skip-rich-text) {
            font-size: 30px;
            line-height: 44px
        }
    }
    ._contentWrapperStyle_mxwin_2 h5:not(.skip-rich-text) {
        font-size: 18px;
        line-height: 24px
    }
    @media (min-width:768px) {
        ._contentWrapperStyle_mxwin_2 h5:not(.skip-rich-text) {
            font-size: 23px;
            line-height: 32px
        }
    }
    @media (min-width:1280px) {
        ._contentWrapperStyle_mxwin_2 h5:not(.skip-rich-text) {
            font-size: 26px;
            line-height: 36px
        }
    }
    ._contentWrapperStyle_mxwin_2 h6:not(.skip-rich-text) {
        font-size: 16px;
        line-height: 20px
    }
    @media (min-width:768px) {
        ._contentWrapperStyle_mxwin_2 h6:not(.skip-rich-text) {
            font-size: 18px;
            line-height: 24px
        }
    }
    @media (min-width:1280px) {
        ._contentWrapperStyle_mxwin_2 h6:not(.skip-rich-text) {
            font-size: 19px;
            line-height: 28px
        }
    }
}

@property --tw-font-weight {
    syntax: "*";
    inherits: false
}

@media (max-width:768px) {
    ._mobileOnlyLast_1lv3u_7 {
        article:nth-of-type(n+3)~:not(._buttonWrapper_1lv3u_3):not(article: last-of-type) {
            display:none
        }
    }
    ._mobileHideAll_1lv3u_12 {
        article:nth-of-type(n+3)~:not(._buttonWrapper_1lv3u_3) {
            display: none
        }
    }
}

._tilesWrapper_1lv3u_19 {
    display: grid;
    grid-template-columns: 1fr;
    @media (max-width: 768px) {
        article:last-of-type+.base-gap {
            display:flex
        }
    }
}

.astro-route-announcer {
    position: absolute;
    left: 0;
    top: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
    width: 1px;
    height: 1px
}

[data-personalized-button-label=logged-in],
html.has-logged-in-user [data-personalized-button-label=default] {
    display: none
}

html.has-logged-in-user [data-personalized-button-label=logged-in] {
    display: inline
}

.anti-flicker-loader[data-astro-cid-5zpofgj2] {
    position: fixed;
    inset: 0;
    z-index: 999999999
}

#loading[data-astro-cid-gdiq7s32] {
    display: none
}

#loading[data-astro-cid-gdiq7s32].show {
    display: block
}

html.no-flickering {
    overflow: hidden
}

html.no-flickering body>:not(.anti-flicker-loader) {
    visibility: hidden !important;
    opacity: 0 !important
}

html:not(.no-flickering) .anti-flicker-loader {
    display: none !important
}